<template>
  <div class="config">
    <progress-bar mode="indeterminate" style="height: 0.5em" v-if="waiting" />
    <h1>Pier Host Administration</h1>
    <div class="grid">
      <div class="col-12 lg:col-8 md:col-7 sm:col-12">
        <containers />
      </div>
      <div class="col-12 lg:col-4 md:col-5 sm:col-12">
        <checked-button
          label="Update Critical Tools"
          confirm-label="Update"
          icon="pi pi-cog"
          dialog-header="Confirmation"
          question="Are you sure you want to update &amp; restart your Pier Critical tools?"
          advice="This will try to install the latest version of the Pier critical tools (db, web proxy) and restart them.
Be patient during the restart, it may take several minutes.
Also, you might lose contact with this application, 
so refresh this screen in a few minutes if needed"
          :callback="showUpdateCritical"
          class="col"
          button-class="p-button-rounded"
        />
        <checked-button
          label="Update Admin Tools"
          confirm-label="Upgrade"
          icon="pi pi-cog"
          question="Are you sure you want to update &amp; restart your Pier Admin tools (this application)?"
          advice="This will try to install the latest version of the Pier admin tools and restart them.
Be patient during the restart, it may take several minutes. 
Also, you might lose contact with this application, so refresh this screen in a few minutes if needed"
          :callback="showUpdateAdmin"
          class="col"
          button-class="p-button-rounded"
        />
        <log-viewer
          header="Websocketd Logs"
          id=""
          :interval="10000"
          :log-getter="getWsdLogs"
          button-label="Show logs"
          tooltip-text="Show websocketd logs"
          class="col"
        />
      </div>
    </div>
    <stream-result-viewer
      :header="streamViewerData.header"
      v-if="streamViewerData.show"
      :streaming="streamViewerData.callback"
      @close="streamViewerData.show = false"
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Button from "primevue/button";
import ProgressBar from "primevue/progressbar";
import Dialog from "primevue/dialog";
import { useToast } from "primevue/usetoast";
import CheckedButton from "@/components/CheckedButton.vue";
import {
  getWsdLogs,
  streamUpdateAdmin,
  streamUpdateCritical,
  streamUpdateUser,
} from "@/services/AdminServices";
import Tooltip from "primevue/tooltip";
import DataView from "primevue/dataview";
import ScrollPanel from "primevue/scrollpanel";
import LogViewer, { LogType } from "@/components/LogViewer.vue";
import Containers from "@/components/Containers.vue";
import StreamResultViewer, {
  StreamViewerCallback,
  StreamViewerData,
} from "@/components/StreamResultsViewer.vue";
import { HttpStreamer } from "@/utils/http-commons";

type ServiceAction = typeof streamUpdateAdmin;

@Options({
  components: {
    Button,
    ProgressBar,
    Dialog,
    CheckedButton,
    DataView,
    ScrollPanel,
    LogViewer,
    StreamResultViewer,
    Containers,
  },
  directives: {
    tooltip: Tooltip,
  },
})
export default class Config extends Vue {
  toast = useToast();
  waiting = false;
  showPasswords = false;
  allPwds: { name: string; value: string }[] = [];
  streamViewerData: StreamViewerData = { show: false };
  async updateService(
    action: ServiceAction,
    updatedElem: string,
    st: HttpStreamer
  ): Promise<void> {
    try {
      await action(st);
    } catch (err: any) {
      this.toast.add({
        severity: "error",
        summary: `${updatedElem} update failed`,
        detail: err.response?.data.msg || JSON.stringify(err),
        life: 5000,
      });
    }
  }
  showUpdateServices(
    kind: "critical" | "admin" | "user" | "all",
    cb: StreamViewerCallback
  ): void {
    this.streamViewerData.header = `Upgrading & restarting ${kind} services`;
    this.streamViewerData.callback = cb;
    this.streamViewerData.show = true;
  }
  showUpdateCritical(): void {
    this.showUpdateServices("critical", this.updateCritical);
  }
  showUpdateAdmin(): void {
    this.showUpdateServices("admin", this.updateAdmin);
  }
  showUpdateUser(): void {
    this.showUpdateServices("user", this.updateUser);
  }
  showUpdateAll(): void {
    this.showUpdateServices("all", this.updateAll);
  }
  async updateCritical(st: HttpStreamer): Promise<void> {
    await this.updateService(streamUpdateCritical, "Critical services", st);
  }
  async updateAdmin(st: HttpStreamer): Promise<void> {
    await this.updateService(streamUpdateAdmin, "Admin services", st);
  }
  async updateUser(st: HttpStreamer): Promise<void> {
    await this.updateService(streamUpdateUser, "User services", st);
  }
  async updateAll(st: HttpStreamer): Promise<void> {
    await this.updateUser(st);
    await this.updateCritical(st);
    await this.updateAdmin(st);
  }
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  async getWsdLogs(id: string): Promise<LogType[]> {
    const logs = await getWsdLogs();
    const filteredLogs = (logs.data as string[]).map((line) => {
      return line.split("|").splice(4).join("|");
    });
    return [{ label: "Websocket logs", out: filteredLogs }];
  }
}
</script>
<style>
.config .p-button,
.fluid .p-buttonset .p-button {
  margin: 0.2em;
}
</style>
