<template>
  <div class="config">
    <ProgressBar mode="indeterminate" style="height: 0.5em" v-if="waiting" />
    <h1>Pier Services Administration</h1>
    <div class="grid">
      <div class="col-12 lg:col-8 md:col-7 sm:col-12">
        <p v-if="!hasServices(services)" style="color: red">
          No service defined yet! <br />
          Please, click in "Check for new services" besides to add some...
        </p>
        <div v-else class="basic-config">
          <div
            v-for="(svcname, index) in Object.keys(services)"
            :key="index"
            class="fluid formgrid"
          >
            <ServiceConfig
              :name="svcname"
              :service="services[svcname]"
              :canChangeActivation="canBeDeactivated(svcname)"
            />
          </div>
          <CheckedButton
            label="Apply changes"
            confirmLabel="Update"
            icon="pi pi-cog"
            dialogHeader="Confirmation"
            question="Are you sure you want to apply these changes &amp; restart your services?"
            advice="Be patient during the restart, it may take several minutes"
            :callback="regenUserServices"
            :disabled="nothingChanged"
          />
        </div>
      </div>
      <div class="col-12 lg:col-4 md:col-5 sm:col-12">
        <CheckedButton
          label="Upgrade &amp; restart services"
          icon="pi pi-cog"
          :callback="showRestartStream"
          dialogHeader="Confirmation"
          confirmLabel="Upgrade & Restart"
          question="Are you sure you want to upgrade &amp; restart all user services?"
          advice="Warning, the possible changes on the left part won't be applied!
Be patient, this may last a few minutes"
          buttonClass="p-button-rounded"
        />
        <stream-result-viewer
          header="Upgrading &amp; restarting services"
          v-if="restartStreamShow"
          :streaming="restartUserServices"
          @close="restartStreamShow = false"
        />
        <Button
          @click="getNewServices"
          label="Check for new services"
          icon="pi pi-question"
          class="p-button-rounded"
        />
        <Dialog
          v-model:visible="showNewServices"
          header="Select New Services"
          :modal="true"
        >
          <p v-if="!hasServices(services)">
            <i>There is no service defined yet.</i><br />
            Please, select services in the list below, then click in "Add
            services".<br />
            You can always add new services by clicking the "Check for new
            services" button...
          </p>
          <div
            v-for="(svcname, index) in Object.keys(newServices)"
            :key="index"
            class="fluid grid"
          >
            <label :for="svcname" class="col-fixed" style="width: 100px">{{
              svcname
            }}</label>
            <div class="col">
              <InputSwitch v-model="newServices[svcname].activated" />
            </div>
          </div>
          <template #footer>
            <div class="grid justify-content-center">
              <CheckedButton
                label="Add services"
                confirmLabel="Update"
                icon="pi pi-cog"
                dialogHeader="Confirmation"
                question="Are you sure you want to add the selected services to your Pier Host?"
                advice="Be patient during the process, it may take several minutes"
                :callback="addNewServices"
                :disabled="!newServicesSelected"
              />
              <Button label="Cancel" @click="this.showNewServices = false" />
            </div>
          </template>
        </Dialog>
        <ShowPasswords />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */

import { Options, Vue } from "vue-class-component";
import InputSwitch from "primevue/inputswitch";
import ProgressBar from "primevue/progressbar";
import Button from "primevue/button";
import Dialog from "primevue/dialog";
import { useToast } from "primevue/usetoast";
import CheckedButton from "@/components/CheckedButton.vue";
import ServiceConfig from "@/components/ServiceConfig.vue";
import StreamResultViewer from "@/components/StreamResultsViewer.vue";
import { HttpStreamer } from "@/utils/http-commons";
import { PierServices } from "@/models/pier-service";
import {
  getNewServices,
  getUserConfig,
  streamUpdateUser,
  updateUserConfig,
} from "@/services/AdminServices";
import ShowPasswords from "@/components/ShowPasswords.vue";

const servicesThatCantBeDeactivated = ["traefik", "db"];

@Options({
  components: {
    ServiceConfig,
    ShowPasswords,
    Button,
    InputSwitch,
    ProgressBar,
    Dialog,
    CheckedButton,
    StreamResultViewer,
  },
})
export default class Config extends Vue {
  toast = useToast();
  waiting = false;
  showPasswords = false;
  services: PierServices = {};
  newServices: PierServices = {};
  initialServices: PierServices = {};
  showNewServices = false;
  restartStreamShow = false;

  get nothingChanged(): boolean {
    for (const svc in this.services)
      for (const attr in this.services[svc])
        if (
          !this.initialServices[svc] ||
          !this.initialServices[svc][attr] ||
          this.services[svc][attr] != this.initialServices[svc][attr]
        ) {
          console.debug("something changed", svc, attr);
          return false;
        }
    console.debug("nothing changed");
    return true;
  }
  get newServicesSelected(): boolean {
    const newSvcs = Object.keys(this.newServices).filter(
      (svc) => this.newServices[svc].activated
    );
    return newSvcs.length > 0;
  }
  canBeDeactivated(name: string): boolean {
    return !servicesThatCantBeDeactivated.includes(name);
  }
  hasServices(services: PierServices): boolean {
    return Object.keys(services).length !== 0;
  }
  keepServicesCopy() {
    for (const svc in this.services) {
      this.initialServices[svc] = { ...this.services[svc] };
    }
  }
  async mounted() {
    await this.getUserConfig();
    if (!this.hasServices(this.services)) this.getNewServices();
  }
  // get services in config
  async getUserConfig() {
    this.waiting = true;
    try {
      const response = await getUserConfig();
      this.services = response.data as PierServices;
      this.keepServicesCopy();
      console.debug("services=", JSON.stringify(this.services));
    } catch (err: any) {
      console.error("Error:", err.message);
      if (err.response) {
        console.debug("Error data:", err.response.data.msg);
        this.toast.add({
          severity: "error",
          summary: "Unable to retrieve the list of Pier services",
          detail: err.response.data.msg,
          life: 5000,
        });
      }
    }
    this.waiting = false;
  }
  // get services which are in sample_config and not in config
  async getNewServices() {
    this.waiting = true;
    try {
      const response = await getNewServices();
      this.newServices = response.data as PierServices;
      console.debug("new services=", JSON.stringify(this.newServices));
      this.showNewServices = this.hasServices(this.newServices);
    } catch (err: any) {
      console.error("Error:", err.message);
      if (err.response) {
        console.debug("Error data:", err.response.data.msg);
        this.toast.add({
          severity: "error",
          summary: "Unable to retrieve the list of new Pier services",
          detail: err.response.data.msg,
          life: 5000,
        });
      }
    }
    this.waiting = false;
  }
  // add new services to the config then restart services
  async addNewServices() {
    this.showNewServices = false;
    const newSvcs = Object.keys(this.newServices).filter(
      (svc) => this.newServices[svc].activated
    );
    if (newSvcs.length > 0) {
      newSvcs.forEach((svc) => {
        this.services[svc] = this.newServices[svc];
      });
      await this.regenUserServices();
    } else
      this.toast.add({
        severity: "warn",
        summary: "No new service added",
        detail: "Nothing selected",
        life: 5000,
      });
  }
  // updates config then restart services
  async regenUserServices() {
    console.debug("submitting ", this.services);
    try {
      await updateUserConfig(this.services);
    } catch (err: any) {
      console.error("Error:", err.message);
      if (err.response) {
        console.debug("Error data:", err.response.data.msg);
        this.toast.add({
          severity: "error",
          summary: "Services update failed",
          detail: err.response.data.msg,
          life: 5000,
        });
      } else
        this.toast.add({
          severity: "error",
          summary: "Configuration update error",
          detail: err.message,
          life: 5000,
        });
    }
    this.showRestartStream();
    // await this.restartUserServices();
  }
  showRestartStream() {
    // should show stream viewer which in turn should call restartUserServices callback
    this.restartStreamShow = true;
  }
  // only restart services, no change in config
  async restartUserServices(st: HttpStreamer) {
    try {
      await streamUpdateUser(st);
    } catch (err: any) {
      console.error("Error:", err.message);
      if (err.response) {
        console.debug("Error data:", err.response.data.msg);
        this.toast.add({
          severity: "error",
          summary: "Services restart failed",
          detail: err.response.data.msg,
          life: 5000,
        });
      } else
        this.toast.add({
          severity: "error",
          summary: "Services restart error",
          detail: err.message,
          life: 5000,
        });
    }
    await this.getUserConfig();
  }
}
</script>
<style>
.basic-config .p-button,
.get-passwords .p-button {
  margin: 0.2em;
}
</style>
