<template>
  <div class="config">
    <progress-bar mode="indeterminate" style="height: 0.5em" v-if="waiting" />
    <h1>Network setup</h1>
    <wifi-setup @update-all="showUpdateAll" />
    <network-setup @update-all="showUpdateAll" />
    <stream-result-viewer
      :header="streamViewerData.header"
      v-if="streamViewerData.show"
      :streaming="streamViewerData.callback"
      @close="streamViewerData.show = false"
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ProgressBar from "primevue/progressbar";
import { useToast } from "primevue/usetoast";
import NetworkSetup from "@/components/NetworkSetup.vue";
import WifiSetup from "@/components/WifiSetup.vue";
import StreamResultViewer, { StreamViewerData } from "@/components/StreamResultsViewer.vue";
import { HttpStreamer } from "@/utils/http-commons";
import {
  streamUpdateAdmin,
  streamUpdateCritical,
  streamUpdateUser,
} from "@/services/AdminServices";

@Options({
  components: {
    ProgressBar,
    StreamResultViewer,
    NetworkSetup,
    WifiSetup,
  },
})
export default class Config extends Vue {
  toast = useToast();
  waiting = false;
  showPasswords = false;
  allPwds: { name: string; value: string }[] = [];
  streamViewerData: StreamViewerData = { show: false };
  showUpdateAll(): void {
    this.streamViewerData.header = `Upgrading & restarting all services`;
    this.streamViewerData.callback = this.updateAll;
    this.streamViewerData.show = true;
  }
  async updateAll(st: HttpStreamer): Promise<void> {
    let updatedElem = "";
    try {
      updatedElem = "User";
      await streamUpdateUser(st);
      updatedElem = "Critical";
      await streamUpdateCritical(st);
      updatedElem = "Admin";
      await streamUpdateAdmin(st);
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
      this.toast.add({
        severity: "error",
        summary: `${updatedElem} services update failed`,
        detail: err.response?.data.msg || JSON.stringify(err),
        life: 5000,
      });
    }
  }
}
</script>
<style>
.config .p-button,
.p-fluid .p-buttonset .p-button {
  margin: 0.2em;
}
</style>
