<template>
  <div class="admin">
    <ProgressBar mode="indeterminate" style="height: 0.5em" v-if="waiting" />
    <h1>System Administration Tools</h1>
    <div class="grid justify-content-center">
      <checked-button
        label="Update Raspberry System"
        confirmLabel="Update"
        icon="pi pi-cog"
        dialogHeader="Confirmation"
        question="Are you sure you want to update your Raspberry Operating System?"
        advice="Be patient during the update, it may take several minutes.
  Also, you might lose contact with this application, 
  so refresh this screen in a few minutes if needed"
        :callback="showUpdateSystem"
        buttonClass="col"
      />
      <checked-button
        label="Reboot My Pier Host"
        confirmLabel="Reboot"
        icon="pi pi-power-off"
        dialogHeader="Confirmation"
        question="Are you sure you want to reboot your Pier Host server?"
        advice="This will probably take some times during which this application
  will not work anymore so please come back in a few minutes to check
  if things are back!"
        :callback="showRebootServer"
        buttonClass="col"
      />
    </div>
    <stream-result-viewer
      :header="streamViewerData.header"
      v-if="streamViewerData.show"
      :streaming="streamViewerData.callback"
      @close="streamViewerData.show = false"
    />
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */

import { Options, Vue } from "vue-class-component";
import {
  streamUpdateSystem,
  streamRebootServer,
} from "@/services/AdminServices";
import ProgressBar from "primevue/progressbar";
import { useToast } from "primevue/usetoast";
import CheckedButton from "../components/CheckedButton.vue";
import { HttpStreamer } from "@/utils/http-commons";
import StreamResultViewer, {
  StreamViewerCallback,
  StreamViewerData,
} from "@/components/StreamResultsViewer.vue";

type ServiceAction = typeof streamUpdateSystem;

@Options({
  components: {
    ProgressBar,
    CheckedButton,
    StreamResultViewer,
  },
})
export default class ToolsVue extends Vue {
  waiting = false;
  toast = useToast();
  streamViewerData: StreamViewerData = { show: false };

  async updateService(
    action: ServiceAction,
    updatedElem: string,
    st: HttpStreamer
  ) {
    this.waiting = true;
    try {
      console.log("running", action, "on", updatedElem, "with st", st);
      await action(st);
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
      this.toast.add({
        severity: "error",
        summary: `${updatedElem} update failed`,
        detail: err.response?.data.msg || JSON.stringify(err),
        life: 5000,
      });
    }
    this.waiting = false;
  }
  showUpdateServices(header: string, cb: StreamViewerCallback) {
    this.streamViewerData.header = header;
    this.streamViewerData.callback = cb;
    this.streamViewerData.show = true;
  }
  showUpdateSystem() {
    this.showUpdateServices("Updating your system", this.updateSystem);
  }
  showRebootServer() {
    this.showUpdateServices("Rebooting your server", this.rebootServer);
  }

  async updateSystem(st: HttpStreamer) {
    this.updateService(streamUpdateSystem, "Raspbian OS update", st);
  }
  async rebootServer(st: HttpStreamer) {
    this.updateService(streamRebootServer, "Server reboot", st);
  }
}
</script>
<style>
.p-checkedbutton .p-button {
  margin: 0.2em;
}
</style>
