<template>
  <div class="wg-config">
    <ProgressBar mode="indeterminate" style="height: 0.5em" v-if="waiting" />
    <h1>Wireguard Configuration</h1>
    <div>
      <Button
        type="button"
        label="Create a new peer"
        @click="createPeer"
        class="d-block mx-auto"
      />
    </div>
    <div>
      <DataView
        :value="existingPeers"
        layout="list"
        :paginator="existingPeers.length > 10"
        :rows="5"
      >
        <template #header> List of Existing Peers </template>

        <template #list="peer">
          <div class="wg-peer-item col-8">
            <h4 class="mb-2">[Peer #{{ peer.data.id }}]</h4>
            <p>
              <b>Public key</b> = {{ peer.data.peer.publicKey }}
              <br />
              <b>Allowed IPs</b> = {{ peer.data.peer.allowedIPs }}
            </p>
          </div>
          <div class="col-2">
            <CheckedButton
              icon="pi pi-trash"
              buttonClass="p-button-raised p-button-rounded"
              advice="This cannot be undone!"
              tooltipText="remove this peer"
              confirmLabel="Remove"
              :callback="removeSelectedPeer"
              :idx="peer.data.id"
            />
          </div>
          <div class="col-2">
            <Button
              icon="pi pi-pencil"
              @click="openUpdateDialog(peer.data.id)"
              class="p-button-raised p-button-rounded"
              style="margin-top: 3px"
            />
            <Dialog
              :header="'Update peer #' + selectedPeerId"
              v-model:visible="showUpdateDialog"
              :modal="true"
              :breakpoints="{ '720px': '100vw' }"
              :style="{ width: 'auto' }"
            >
              <div class="fluid">
                <div class="field" style="width: 32em">
                  <label for="publickey">Public Key</label>
                  <InputText id="publickey" type="text" v-model="publicKey" />
                </div>
                <div class="field">
                  <label for="allowedIPs">Allowed IPs</label>
                  <InputText id="allowedIPs" type="text" v-model="allowedIPs" />
                </div>
              </div>
              <template #footer>
                <Button
                  label="Cancel"
                  icon="pi pi-times"
                  @click="showUpdateDialog = false"
                  class="p-button-text"
                  autofocus
                />
                <Button
                  label="Update"
                  icon="pi pi-check"
                  @click="updateSelectedPeer"
                  class="p-button-text"
                />
              </template>
            </Dialog>
          </div>
        </template>
      </DataView>
    </div>
    <Dialog
      :header="'Peer generated for user id #' + newPeerId"
      v-model:visible="showNewPeer"
      :modal="true"
      :breakpoints="{ '720px': '100vw' }"
      :style="{ width: 'auto' }"
    >
      <div class="d-flex flex-column flex-md-row">
        <div class="mb-2 mr-2">
          <p>
            Copy the lines below in your wireguard client configuration
            (Windows, Mac, Linux) <br />or flash the QR Code using your mobile
            wireguard application <span class="pi pi-arrow-right" />
          </p>
          <hr />
          <pre class="wg-peer">{{ newPeer }}</pre>
          <hr />
        </div>
        <div class="mb-2 mr-2">
          <QRCodeVue
            :value="newPeer"
            level="H"
            size="300"
            foreground="0x00379B"
          />
        </div>
      </div>
      <template #footer>
        <Button
          label="Close"
          icon="pi pi-check"
          autofocus
          @click="showNewPeer = false"
        />
      </template>
    </Dialog>
  </div>
</template>
<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
import { Options, Vue } from "vue-class-component";
import Checkbox from "primevue/checkbox";
import InputText from "primevue/inputtext";
import Button from "primevue/button";
import QRCodeVue from "@/components/QRCode.vue";
import Dialog from "primevue/dialog";
import DataView from "primevue/dataview";
import ProgressBar from "primevue/progressbar";
import { useToast } from "primevue/usetoast";
import CheckedButton from "@/components/CheckedButton.vue";
import wireguardService from "@/services/WireguardService";
import { AxiosResponse } from "axios";

type WgPeer = {
  id: number;
  peer: {
    publicKey: string;
    allowedIPs: string;
  };
};

@Options({
  components: {
    Checkbox,
    InputText,
    Button,
    Dialog,
    DataView,
    QRCodeVue,
    ProgressBar,
    CheckedButton,
  },
})
export default class Wireguard extends Vue {
  private toast = useToast();
  private showNewPeer = false;
  private newPeer = "";
  private newPeerId = 0;
  private existingPeers: WgPeer[] = [];
  private selectedPeerId = 0;
  private publicKey = "";
  private allowedIPs = "";
  private showUpdateDialog = false;
  private showAddDialog = false;
  private waiting = false;
  async createPeer() {
    this.waiting = true;
    try {
      const response = await wireguardService.createPeer();
      if (response.data) {
        this.newPeer = response.data.peer;
        this.newPeerId = response.data.id;
        this.showNewPeer = true;
      }
    } catch (err) {
      this.showError(err, "Wireguard config failed");
    }
    this.waiting = false;
    await this.showPeers();
  }
  selectPeer(id: number) {
    this.selectedPeerId = id;
    this.existingPeers
      .filter((item) => item.id == id)
      .forEach((item) => {
        this.publicKey = item.peer.publicKey;
        this.allowedIPs = item.peer.allowedIPs;
      });
  }
  async showPeers() {
    try {
      this.waiting = true;
      const response = await wireguardService.getPeers();
      if (response.status === 200 && response.data) {
        this.existingPeers = response.data;
        //console.debug(JSON.stringify(this.existingPeers));
      }
    } catch (err) {
      this.showError(err, "Unable to retrieve Wireguard Peers");
    }
    this.waiting = false;
  }
  async mounted() {
    await this.showPeers();
  }
  openRemoveDialog(id: number) {
    this.selectPeer(id);
  }
  openUpdateDialog(id: number) {
    this.showUpdateDialog = true;
    this.selectPeer(id);
  }
  async removeSelectedPeer(peer: number) {
    this.waiting = true;
    try {
      const res = await wireguardService.removePeer(peer);
      this.showSuccess(res, "Delete peer", `Wireguard peer ${peer} deleted`);
    } catch (err) {
      this.showError(err, "Wireguard remove peer failed");
    }
    await this.showPeers();
  }
  async updateSelectedPeer() {
    this.showUpdateDialog = false;
    this.waiting = true;
    try {
      const res = await wireguardService.updatePeer(this.selectedPeerId, {
        publicKey: this.publicKey,
        allowedIPs: this.allowedIPs,
      });
      this.showSuccess(
        res,
        "Update peer",
        `Wireguard peer ${this.selectedPeerId} updated`
      );
    } catch (err) {
      this.showError(err, "Wireguard update peer failed");
    }
    await this.showPeers();
  }
  async addExistingPeer(publicKey: string, allowedIPs: string) {
    this.showAddDialog = false;
    this.waiting = true;
    try {
      const res = await wireguardService.addExistingPeer({
        publicKey,
        allowedIPs,
      });
      this.showSuccess(res, "Add existing peer", "Wireguard peer added");
    } catch (err) {
      this.showError(err, "Wireguard peer adding failed");
    }
    await this.showPeers();
  }
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  showError(err: any, summary: string) {
    console.error("Error:", err.message);
    if (err.response) {
      console.debug("Error data:", err.response.data.msg);
      this.toast.add({
        severity: "error",
        summary: summary,
        detail: err.response.data.msg,
        life: 5000,
      });
    }
  }
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  showSuccess(res: AxiosResponse<any>, action: string, summary: string) {
    console.debug(action, ":", res.data.msg);
    this.toast.add({
      severity: "success",
      summary: summary,
      detail: res.data.msg,
      life: 5000,
    });
  }
}
</script>
<style lang="scss" scoped>
.wg-config {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
.wg-peer {
  text-align: left;
}
.wg-peer-item {
  text-align: left;
}
</style>
