<template>
  <Dialog
    header="About Pier Administration Tools"
    v-model:visible="show"
    :modal="true"
    :breakpoints="{ '960px': '35vw', '640px': '100vw' }"
    :style="{ width: 'auto' }"
  >
    <div class="about text-left">
      <ul>
        <li>Package: {{ pack.name }}</li>
        <li>Current Version: {{ pack.version }}</li>
        <li v-if="aboutAPI['ui-latest-release']">
          Latest available version: {{ aboutAPI["ui-latest-release"] }}
          <b v-if="pack.version != aboutAPI['ui-latest-release']">
            Consider upgrading!
          </b>
          <span v-else>(you're up-to-date!)</span>
        </li>
        <li>Built with VueJS 3</li>
        <li>
          Pier API:
          <ul>
            <li>Url: {{ api }}</li>
            <li>Package: {{ aboutAPI.package }}</li>
            <li>Current Version: {{ aboutAPI.version }}</li>
            <li v-if="aboutAPI['api-latest-release']">
              Latest available version: {{ aboutAPI["api-latest-release"] }}
              <b v-if="aboutAPI.version != aboutAPI['api-latest-release']">
                Consider upgrading!
              </b>
              <span v-else>(you're up-to-date!)</span>
            </li>
            <li>Built with NodeJS &amp; Express</li>
          </ul>
        </li>
        <li>
          Provided by the Pier Host team:
          <ul>
            <li>Simon @MrNacknime on <i class="pi pi-discord" /> Discord</li>
            <li>
              Jean @The CauliFlower on <i class="pi pi-discord" /> Discord
            </li>
            <li>Olivier @leolivier on <i class="pi pi-discord" /> Discord</li>
          </ul>
        </li>

        <li>
          For support and bugs, please see<br />
          <i class="pi pi-github" />&nbsp;<a
            href="https://gitlab.com/pierhost/pier-admin-ui"
            >https://gitlab.com/pierhost/pier-admin-ui</a
          >
        </li>
        <li>
          <i class="pi pi-discord" />
          &nbsp;Follow us on Discord: PierHost Project
        </li>
      </ul>
    </div>
    <template #footer>
      <Button label="Close" icon="pi pi-times" autofocus @click="close" />
    </template>
  </Dialog>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import { AboutService } from "@/services/AboutService";
import pack from "../../package.json";
import getEnv from "@/utils/env";

type AboutApi = {
  package: string;
  version: string;
  "ui-latest-release"?: string;
  "api-latest-release"?: string;
};

@Options({
  components: {
    Dialog,
    Button,
  },
  emits: ["close"],
})
export default class AboutVue extends Vue {
  aboutAPI: AboutApi = { package: "?", version: "?" };
  pack = pack;
  api = getEnv("VUE_APP_API_URL") || "API URL NOT DEFINED!";
  show = true;
  async mounted(): Promise<void> {
    this.aboutAPI = (await AboutService.about()).data;
    this.show = true;
  }
  close(): void {
    this.show = false;
    this.$emit("close", true);
  }
}
</script>
