<template>
  <Dialog
    v-model:visible="cmdData.show"
    :modal="true"
    class="async-dialog"
    :breakpoints="{ '960px': '90vw', '640px': '100vw' }"
    :style="{ width: '75vw' }"
  >
    <template #header>
      <ProgressBar
        mode="indeterminate"
        style="height: 0.5em"
        v-if="isNaN(results.status)"
      />
      <h3>{{ cmdData.header }}</h3>
    </template>
    <div>
      <p>
        <b>Status:</b>
        {{
          isNaN(results.status)
            ? "Running"
            : results.status == 0
            ? "Ok"
            : "Error (" + results.status + ")"
        }}
      </p>
      <ScrollPanel ref="asyncpanel" class="asyncpanel">
        <pre>{{ results.out.length > 0 ? results.out : "No output" }}</pre>
      </ScrollPanel>
    </div>
    <template #footer>
      <Button
        label="Clear"
        icon="pi pi-trash"
        @click="clearContent"
        class="p-button-text"
      />
      <Button
        label="Close"
        icon="pi pi-times"
        @click="close"
        class="p-button-text"
        autofocus
      />
    </template>
  </Dialog>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
import { Options, Vue } from "vue-class-component";
import { ref } from "vue";
import Button from "primevue/button";
import Dialog from "primevue/dialog";
import ScrollPanel from "primevue/scrollpanel";
import ProgressBar from "primevue/progressbar";
import PingService from "@/services/PingService";

type CmdResult = { status: number; out: string };

export class AsyncCmdData {
  // the command id
  id = NaN;
  // dialog header
  header = "";
  // refresh interval (ms)
  interval = 1000;
  // show dialog or not
  show = false;
  constructor() {
    this.reset();
  }
  showResults(id: number, header: string, interval = 1000) {
    this.id = id;
    this.header = header;
    this.interval = interval;
    this.show = true;
  }
  reset() {
    this.id = NaN;
    this.header = "";
    this.interval = 1000;
    this.show = false;
  }
}

const NO_RESULT = { status: NaN, out: "" };

@Options({
  components: {
    Button,
    Dialog,
    ScrollPanel,
    ProgressBar,
  },
  props: {
    cmdData: Object as () => AsyncCmdData,
  },
})
export default class AsyncResultViewer extends Vue {
  // eslint-disable-next-line no-undef
  intervalId: NodeJS.Timeout | undefined;
  results: CmdResult = NO_RESULT;
  cmdData!: AsyncCmdData;
  asyncpanel = ref();

  async mounted() {
    console.debug("async viewer cmd data", this.cmdData);
    this.getResults();
    console.debug("set interval", this.cmdData.interval);
    this.intervalId = setInterval(
      () => this.getResults(),
      this.cmdData.interval
    );
    this.cmdData.show = true;
  }
  async getResults() {
    try {
      const res = await PingService.getCmdResults(this.cmdData.id);
      // console.debug("res===>", res.data.status, res.data.out);
      this.results.status = res.data.status == null ? NaN : res.data.status;
      this.results.out += "\n" + res.data.out.join("\n");
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
      (this.asyncpanel as any).scrollTop(2 ** 32); // does pass the right param!!! ???
      // console.debug("results===>", this.results.status, this.results.out);
      if (!isNaN(this.results.status)) this.resetInterval();
    } catch (err) {
      console.error(err);
      this.resetInterval();
    }
  }
  resetInterval() {
    if (this.intervalId) clearInterval(this.intervalId);
    this.intervalId = undefined;
  }
  close() {
    this.cmdData.show = false;
    this.results = NO_RESULT;
    this.resetInterval();
  }
  clearContent() {
    this.results.out = "Content cleared";
  }
}
</script>
<style>
.asyncpanel .p-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}
.asyncpanel .p-scrollpanel-bar {
  background-color: #2196f3 !important;
  transition: background-color 0.3s;
  opacity: 1 !important;
}
.asyncpanel .p-scrollpanel-bar:hover {
  background-color: #135ba1 !important;
}
.asyncpanel {
  width: 100%;
  height: 200px;
  text-align: left;
}
.async-dialog {
  width: 75%;
  height: 75%;
}
</style>
