<template>
  <div class="p-checkedbutton">
    <Button
      @click="showDialog = true"
      :label="label"
      :icon="icon"
      :class="buttonClass"
      :disabled="disabled"
      v-tooltip.right="tooltipText"
    />
    <Dialog
      :header="dialogHeader"
      v-model:visible="showDialog"
      :modal="true"
      :breakpoints="{ '960px': '75vw', '500px': '100vw' }"
      :style="{ width: '50vw' }"
      position="topleft"
    >
      <p>
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
        {{ question }}
      </p>
      <p v-if="advice && advice !== ''">{{ advice }}</p>
      <template #footer>
        <Button
          :label="confirmLabel"
          icon="pi pi-check"
          @click="doIt"
          class="p-button-text"
        />
        <Button
          label="Cancel"
          icon="pi pi-times"
          @click="showDialog = false"
          class="p-button-text"
          autofocus
        />
      </template>
    </Dialog>
  </div>
</template>
<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */

import { Options, Vue } from "vue-class-component";
import Button from "primevue/button";
import Dialog from "primevue/dialog";
import Tooltip from "primevue/tooltip";

@Options({
  components: {
    Button,
    Dialog,
  },
  directives: {
    tooltip: Tooltip,
  },
  props: {
    label: {
      type: String,
      default: "",
    },
    confirmLabel: String,
    icon: String,
    dialogHeader: {
      type: String,
      default: "Confirmation",
    },
    question: String,
    advice: {
      type: String,
      default: "",
    },
    callback: Function,
    cancelCallback: {
      type: Function,
      default: () => {
        console.debug("cancelled");
      },
    },
    buttonClass: {
      type: String,
      default: "p-button-raised",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    tooltipText: {
      type: String,
      default: "",
    },
    idx: {
      type: [String, Number, undefined],
      default: undefined,
    },
  },
})
export default class CheckedButton extends Vue {
  label!: string;
  confirmLabel!: string;
  icon!: string;
  buttonClass!: string;
  dialogHeader!: string;
  question!: string;
  advice!: string;
  disabled!: boolean;
  callback!: (id: string | number | undefined) => void;
  cancelCallback!: () => void;
  tooltipText!: string;
  // can be used in lists to identify the element. If not empty, passed as an arg to the callback
  idx!: string | undefined;
  showDialog = false;
  doIt() {
    this.showDialog = false;
    this.callback(this.idx);
  }
  cancel() {
    this.showDialog = false;
    this.cancelCallback();
  }
}
</script>
