<template>
  <DataView
    :value="containers"
    layout="list"
    :paginator="containers.length > 10"
    :rows="5"
  >
    <template #header>Docker Containers</template>
    <template #list="ctr">
      <div class="ctr-item col-8 text-left">
        <h4 class="mb-2">Container {{ ctr.data.Names.join(", ") }}</h4>
        <p>
          <b>Id</b> = {{ ctr.data.Id }}
          <br />
          <b>Status</b> =
          {{ ctr.data.State + " " + ctr.data.Status }}
        </p>
      </div>
      <div class="col-2">
        <LogViewer
          :header="'Logs of container ' + ctr.data.Names.join(', ')"
          :id="ctr.data.Id"
          :interval="10000"
          :logGetter="getContainerLogs"
          tooltipText="Show container logs"
        />
      </div>
      <div class="col-2">
        <CheckedButton
          confirm-label="Restart"
          icon="pi pi-replay"
          dialog-header="Confirmation"
          question="Are you sure you want to restart this container?"
          :callback="restartContainer"
          button-class="p-button-rounded col"
          tooltipText="Restart container"
          :id="ctr.data.Id"
        />
      </div>
    </template>
  </DataView>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import DataView from "primevue/dataview";
import CheckedButton from "@/components/CheckedButton.vue";
import LogViewer, { LogType } from "@/components/LogViewer.vue";

import {
  getContainers,
  getContainerLogs,
  restartContainer,
} from "@/services/DockerServices";

@Options({
  components: {
    DataView,
    LogViewer,
    CheckedButton,
  },
})
export default class ServiceConfig extends Vue {
  containers = [];
  async mounted(): Promise<void> {
    await this.getContainers();
  }
  async getContainers(): Promise<void> {
    const contrs = await getContainers();
    this.containers = contrs.data;
  }
  async getContainerLogs(id: string): Promise<LogType[]> {
    const logs = await getContainerLogs(id);
    const res: LogType[] = [];
    if (logs.data.stdout.length > 0)
      res.push({
        label: "Output",
        out: logs.data.stdout,
      });
    if (logs.data.stderr.length > 0)
      res.push({
        label: "Errors",
        out: logs.data.stderr,
      });
    return res;
  }
  async restartContainer(id: string): Promise<void> {
    await restartContainer(id);
    await getContainers();
  }
}
</script>
