<template>
  <div>
    <Dialog
      :header="dialogHeader"
      :visible="showDialog && !networkError"
      :breakpoints="{ '960px': '35vw', '640px': '100vw' }"
      :style="{ width: '25vw' }"
    >
      <div class="card">
        <div v-if="changingPassword" class="field grid">
          <label for="cur-password" class="col-12 mb-2 md:col-3 md:mb-0">Current Password</label>
          <div class="col-12 md:col-9">
            <InputText
              id="cur-password"
              v-model="curPassword"
              type="password"
              placeholder="Current Password"
              class="inputfield w-full"
            />
          </div>
        </div>
        <div class="field grid">
          <label for="password" class="col-12 mb-2 md:col-3 md:mb-0">
            {{ changingPassword ? "New" : "" }} Password
          </label>
          <div class="col-12 md:col-9">
            <InputText
              v-if="passwordBeingChanged"
              id="password"
              v-model="password"
              type="password"
              :placeholder="changingPassword ? 'New Password' : 'Password'"
              :aria-describedby="
                badPwdFormat ? 'newpassword-error' : 'newpassword-ok'
              "
              :class="'inputfield w-full' + badPwdFormat ? ' p-invalid' : ''"
            />
            <InputText
              v-else
              id="password"
              v-model="password"
              type="password"
              placeholder="Password"
              v-on:keyup.enter="login"
              class="inputfield w-full"
            />
          </div>
          <InlineMessage
            id="newpassword-error"
            severity="error"
            v-if="passwordBeingChanged && badPwdFormat"
          >
            Password does not follow security rules:
            <a
              v-if="passwordBeingChanged && badPwdFormat"
              @click="showPwdRules"
              style="cursor: pointer; text-decoration: underline"
            >
              show them
            </a>
          </InlineMessage>
          <InlineMessage
            id="newpassword-ok"
            v-if="passwordBeingChanged && !badPwdFormat"
            severity="success"
          >
            Strong password
          </InlineMessage>
        </div>
        <div class="field grid" v-if="passwordBeingChanged">
          <label for="confirmPassword" class="col-12 mb-2 md:col-3 md:mb-0">
            Confirm Password
          </label>
          <div class="col-12 md:col-9">
            <InputText
              id="confirmPassword"
              v-model="confirmPassword"
              type="password"
              placeholder="Confirm Password"
              v-on:keyup.enter="changePassword"
              :aria-describedby="
                pwdDiffer ? 'confirmpassword-error' : 'confirmpassword-ok'
              "
              :class="'inputfield w-full ' + pwdDiffer ? 'p-invalid' : ''"
            />
          </div>
          <InlineMessage
            id="confirmpassword-error"
            severity="error"
            v-if="pwdDiffer"
          >
            Passwords are different
          </InlineMessage>
          <InlineMessage
            id="confirmpassword-ok"
            v-if="!pwdDiffer"
            severity="success"
          >
            Passwords are matching
          </InlineMessage>
        </div>
      </div>
      <template #footer>
        <Button
          class="mx-2"
          v-if="passwordBeingChanged"
          type="button"
          :label="(changingPassword ? 'Change' : 'Set first') + ' password'"
          @click="changePassword"
          :disabled="pwdDiffer || badPwdFormat"
        />
        <Button v-else type="button" label="Login" @click="login" />
        <Button
          class="mx-2"
          v-if="changingPassword"
          type="button"
          label="Cancel"
          @click="store.commit('changingPassword', false)"
        />
        </template>
    </Dialog>
  </div>
  <Toast group="multi-msg" position="bottom-center" />
</template>
<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */

import { Options, Vue } from "vue-class-component";
import Dialog from "primevue/dialog";
import InputText from "primevue/inputtext";
import InlineMessage from "primevue/inlinemessage";
import Button from "primevue/button";
import Toast from "primevue/toast";
import { AuthState, useStore } from "@/store";
import { useToast } from "primevue/usetoast";

const specChar = "!\"#\\$%&'\\(\\)\\*\\+,-\\.\\/:;<=>\\?@[\\]\\^_`\\{\\|}~";
const pwdPattern =
  "^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[" +
  specChar +
  "])[a-zA-Z0-9" +
  specChar +
  "]{8,}$";

@Options({
  components: {
    Dialog,
    InputText,
    InlineMessage,
    Button,
    Toast,
  },
})
export default class Login extends Vue {
  password = "";
  confirmPassword = "";
  curPassword = "";
  toast = useToast();
  store = useStore();
  get authState(): AuthState {
    return this.store.state.auth;
  }
  get firstLogin(): boolean {
    // console.debug("first login: state=" + JSON.stringify(this.authState));
    return this.authState.firstLogin;
  }
  get changingPassword(): boolean {
    return this.authState.changingPassword;
  }
  get logged(): boolean {
    // console.debug("logged:" + this.authState.logged);
    return this.authState.logged;
  }
  get networkError(): boolean {
    return this.authState.networkError;
  }
  get passwordBeingChanged(): boolean {
    return this.firstLogin || this.changingPassword;
  }
  get badPwdFormat(): boolean {
    const match = this.password.match(pwdPattern);
    return this.password.length < 12 || !match || match.length == 0;
  }
  get pwdDiffer(): boolean {
    return this.passwordBeingChanged && this.password != this.confirmPassword;
  }
  get showDialog(): boolean {
    const res = !this.logged || this.changingPassword;
    // console.debug("showDialog", res);
    return res;
  }
  get dialogHeader(): string {
    return this.changingPassword
      ? "Change Password"
      : this.firstLogin
      ? "Please create your first password"
      : "Please login";
  }
  showToast(
    severity: "success" | "info" | "warn" | "error" | undefined,
    message: string
  ) {
    // eslint-disable-next-line
    // @ts-ignore
    this.toast.removeGroup("multi-msg");
    this.toast.add({
      severity: severity,
      summary: "password message",
      detail: message,
      life: 5000,
      group: "multi-msg",
    });
  }
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  showError(err: any, summary: string) {
    console.error("Authentication Error:", err.message);
    if (err.response) {
      console.error("Error data:", err.response.data.msg);
      this.toast.add({
        severity: "error",
        summary: summary,
        detail: err.response.data.msg,
        life: 5000,
      });
    }
  }
  showSuccess(summary: string) {
    // console.debug(summary);
    this.toast.add({
      severity: "success",
      summary: "done!",
      detail: summary,
      life: 5000,
    });
  }
  showPwdRules() {
    const rules =
      "Passwords should be at least 12 chars long, and at least: 1 uppercase letter, 1 lowercase letter, 1 digit and 1 special char in !?,;:\"'`@^_|#$%&(){}[]*+-./=><";
    this.toast.add({
      severity: "info",
      summary: "Password rules",
      detail: rules,
      life: 10000,
    });
  }
  async login() {
    try {
      await this.store.dispatch("logIn", this.password);
    } catch (err) {
      this.showError(err, "Login failed");
    }
  }
  async setFirstPassword() {
    try {
      this.store.dispatch("firstLogIn", this.password);
      this.showSuccess("First password set");
    } catch (e) {
      this.showError(e, "Setting first password failed");
    }
  }
  async changePassword() {
    if (this.firstLogin) this.setFirstPassword();
    else
      try {
        await this.store.dispatch("changePassword", {
          oldPassword: this.curPassword,
          newPassword: this.password,
        });
        this.showSuccess("Password changed");
      } catch (err) {
        this.showError(err, "Changing password failed");
      }
  }
  mounted() {
    try {
      this.store.dispatch("isFirstLogin");
      this.store.dispatch("setup401Interceptor");
    } catch (err) {
      console.error(err);
    }
  }
}
</script>
