<template>
  <Button
    icon="pi pi-list"
    :label="buttonLabel"
    @click="open"
    class="p-button-raised p-button-rounded"
    v-tooltip.right="tooltipText"
  />

  <Dialog
    v-model:visible="show"
    :modal="true"
    class="log-dialog"
    :breakpoints="{ '960px': '90vw', '640px': '100vw' }"
    :style="{ width: '75vw' }"
  >
    <template #header>
      <ProgressBar
        mode="indeterminate"
        style="height: 0.5em"
        v-if="gettingLogs"
      />
      <h3>{{ header }}</h3>
    </template>
    <div ref="logpanel" v-for="(log, index) in logs" :key="index">
      <h2>{{ log.label }}</h2>
      <ScrollPanel ref="logpanel1" class="logpanel">
        <pre>{{ log.out.length > 0 ? log.out.join("\n") : "No logs..." }}</pre>
      </ScrollPanel>
    </div>
    <template #footer>
      <Button
        label="Close"
        icon="pi pi-times"
        @click="close"
        class="p-button-text"
        autofocus
      />
    </template>
  </Dialog>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
import { Options, Vue } from "vue-class-component";
import { ref } from "vue";
import Button from "primevue/button";
import Dialog from "primevue/dialog";
import Tooltip from "primevue/tooltip";
import ScrollPanel from "primevue/scrollpanel";
import ProgressBar from "primevue/progressbar";

export type LogType = { label: string; out: string[] };
@Options({
  components: {
    Button,
    Dialog,
    ScrollPanel,
    ProgressBar,
  },
  directives: {
    tooltip: Tooltip,
  },
  props: {
    logGetter: Function,
    withButton: {
      type: Boolean,
      default: true,
    },
    buttonLabel: {
      type: String,
      default: "",
    },
    tooltipText: String,
    header: String,
    interval: {
      type: Number,
      default: 10000,
    },
    id: String,
  },
})
export default class LogViewer extends Vue {
  id!: string;
  show = false;
  // eslint-disable-next-line no-undef
  intervalId: NodeJS.Timeout | undefined;
  logs: LogType[] = [];
  header!: string;
  interval!: number;
  withButton!: boolean;
  buttonLabel!: string;
  tooltipText!: string;
  logpanel = ref<HTMLDivElement | null>(null);
  logGetter!: (id: string) => Promise<LogType[]>;
  gettingLogs = false;

  async open() {
    this.show = true;
    await this.getLogs();
    this.intervalId = setInterval(() => this.getLogs(), this.interval);
  }
  async getLogs() {
    this.gettingLogs = true;
    this.logs = await this.logGetter(this.id);
    this.gettingLogs = false;
    console.debug("logs===>", this.logs);
  }
  close() {
    if (this.intervalId) clearInterval(this.intervalId);
    this.show = false;
    this.logs = [];
  }
  unmounted() {
    this.close();
  }
}
</script>
<style>
.logpanel .p-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}
.logpanel .p-scrollpanel-bar {
  background-color: #2196f3 !important;
  transition: background-color 0.3s;
  opacity: 1 !important;
}
.logpanel .p-scrollpanel-bar:hover {
  background-color: #135ba1 !important;
}
.logpanel {
  width: 100%;
  height: 200px;
  text-align: left;
}
.log-dialog {
  width: 75%;
  height: 75%;
}
</style>
