<template>
  <Menubar :model="menu" style="color: white" id="nav">
    <template #start>
      <router-link to="/">
        <picture id="main-logo" class="mr-2">
          <source
            media="(min-width: 762px)"
            srcset="@/assets/logo-500x142.png"
          />
          <img alt="logo" src="@/assets/logo-small.png" />
        </picture>
      </router-link>
    </template>
    <template #end>
      <Button
        icon="pi pi-user"
        class="p-button-rounded p-button-outlined"
        aria-haspopup="true"
        aria-controls="overlay_menu"
        @click="toggle"
      />
      <Menu ref="userMenuRef" :model="userMenu" :popup="true" />
    </template>
  </Menubar>
  <About v-if="showAbout" @close="showAbout = false" />
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { ref } from "vue";
import Button from "primevue/button";
import Menu from "primevue/menu";
import Menubar from "primevue/menubar";
import { useStore } from "@/store";
import { useToast } from "primevue/usetoast";
import About from "@/components/About.vue";

@Options({
  components: {
    Menu,
    Menubar,
    Button,
    About,
  },
})
export default class NavBar extends Vue {
  store = useStore();
  toast = useToast();
  showAbout = false;
  userMenuRef = ref();
  menu = [
    {
      label: "Services",
      to: "/config",
      icon: "pi pi-file",
    },
    {
      to: "/wg",
      label: "Wireguard",
      icon: "pi pi-bars",
    },
    {
      label: "Administration",
      icon: "pi pi-cog",
      to: "/admin",
    },
    {
      label: "Network",
      icon: "pi pi-wifi",
      to: "/network",
    },
    {
      label: "System",
      icon: "pi pi-cog",
      to: "/tools",
    },
  ];
  userMenu = [
    {
      label: "Change Password",
      icon: "pi pi-key",
      command: (): void => {
        this.store.commit("changingPassword", true);
      },
    },
    {
      label: "About",
      icon: "pi pi-question",
      command: (): void => {
        this.showAbout = true;
      },
    },
    {
      label: "Refresh App",
      icon: "pi pi-replay",
      command: (): void => {
        this.refreshApp();
      },
    },
    {
      label: "Logout",
      icon: "pi pi-sign-out",
      command: (): void => {
        this.store.dispatch("logOut");
      },
    },
  ];
  toggle(event: Event): void {
    (this.$refs.userMenuRef as Menu).toggle(event);
  }

  refreshApp(): void {
    let n = 0;
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.getRegistrations().then(function (registrations) {
        for (const registration of registrations) {
          console.debug("updating", registration);
          registration.update();
          n++;
        }
      });
    }
    if (n) window.location.reload();
    this.toast.add({
      severity: "info",
      summary: "application reloaded",
      life: 3000,
    });
  }
}
</script>
<style lang="scss">
#nav {
  #main-logo > img {
    height: 40px;
    padding-top: 5px;
  }
}
</style>
