<template>
  <h2>Network IP addresses setup</h2>
  <div class="fluid grid justify-content-center">
    <div class="field lg:col-2 md:col-4 col-7">
      <label for="interface">Network Interface</label>
      <select-button
        id="interface"
        v-model="defaultInterface.name"
        :options="interfaceOptions"
        dataKey="value"
        optionValue="value"
      >
        <template #option="slotProps">
          <span :class="slotProps.option.icon">{{
            slotProps.option.text
          }}</span>
        </template>
      </select-button>
    </div>
    <div class="field xl:col-2 lg:col-2 md:col-4 col-7">
      <label for="ip-addr">Static internal IP Address</label>
      <input-text
        id="ip-addr"
        v-model="defaultInterface.ipAddress"
        type="text"
        placeholder="192.168.0.11"
      />
    </div>
    <div class="field lg:col-2 md:col-3 col-7">
      <label for="router">Router IP Address</label>
      <input-text
        id="router"
        v-model="defaultInterface.routerIpAddress"
        type="text"
        placeholder="192.168.0.1"
      />
    </div>
  </div>
  <div class="grid justify-content-center">
    <checked-button
      label="Update Network IP Addresses"
      confirm-label="Update"
      icon="pi pi-cog"
      dialog-header="Confirmation"
      question="Are you sure you want to update the network IP addresses of your Pier Host server?"
      advice="Changing the network addresses might end in not being 
able to reach the server anymore."
      :callback="changeNetworkInterface"
      :cancel-callback="getDefaultNetworkInterface"
      button-class="p-button-rounded p-col"
    />
    <Button
      label="Reset"
      icon="pi pi-times"
      class="p-button-rounded"
      @click="getDefaultNetworkInterface"
      v-tooltip.right="'Reset data'"
    />
    <progress-spinner v-if="waitingIp" />
    <div v-else class="p-progress-spinner" />
  </div>
  <h2>Other network setups</h2>
  <div class="fluid grid justify-content-center">
    <div v-if="traefik" class="field  lg:col-2 md:col-4 col-7">
      <label for="https">Encryption</label>
      <toggle-button
        id="https"
        v-model="traefik.https"
        onLabel="Use HTTPS"
        offLabel="Use HTTP"
        onIcon="pi pi-lock"
        offIcon="pi pi-lock-open"
      />
    </div>
    <div v-if="traefik" class="field  lg:col-2 md:col-4 col-7">
      <label for="challenge">Challenge </label>
      <select-button
        id="challenge"
        v-model="traefik.challenge"
        :options="['tls', 'http', 'dns']"
        class="challenge"
      />
    </div>
    <div class="field  lg:col-2 md:col-3 col-6">
      <label for="domain" class="mr-1">Domain</label>
      <input-text
        id="domain"
        v-model="domain"
        type="text"
        placeholder="domain or IP"
      />
    </div>
    <div class="field  lg:col-2 md:col-4 col-7">
      <label for="contact" class="mr-1">Contact e-mail</label>
      <input-text
        id="contact"
        v-model="contact"
        type="text"
        placeholder="me@example.com"
      />
    </div>
  </div>
  <div class="grid justify-content-center">
    <checked-button
      label="Update Network Data"
      confirm-label="Update"
      icon="pi pi-cog"
      dialog-header="Confirmation"
      question="Are you sure you want to update the network data of your Pier Host server?"
      advice="Changing the network data might end in not being 
able to reach the server anymore.
It will probably take some times during which this application
will not work anymore so please come back in a few minutes to check
if things are back! (using your new domain name if any)"
      :callback="setNetworkData"
      :cancel-callback="getNetworkData"
      button-class="p-button-rounded col"
    />
    <Button
      label="Reset"
      icon="pi pi-times"
      class="p-button-rounded"
      @click="getNetworkData"
      v-tooltip.right="'Reset data'"
    />
    <progress-spinner v-if="waitingNwData" />
    <div v-else class="p-progress-spinner" />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import InputText from "primevue/inputtext";
import Button from "primevue/button";
import ToggleButton from "primevue/togglebutton";
import SelectButton from "primevue/selectbutton";
import ProgressSpinner from "primevue/progressspinner";
import CheckedButton from "@/components/CheckedButton.vue";
import { useToast } from "primevue/usetoast";
import PingService from "@/services/PingService";
import Tooltip from "primevue/tooltip";
import { PierService } from "../models/pier-service";
import {
  getCriticalConfig,
  updateCriticalConfig,
} from "@/services/AdminServices";
import {
  getDomainAndContact,
  updateDomainAndContact,
  getDefaultNetworkInterface,
  changeNetworkInterface,
} from "@/services/NetworkServices";

import { PierServices } from "@/models/pier-service";
interface NetworkInterface {
  name: string;
  ipAddress: string;
  routerIpAddress: string;
  dnsIpAddress: string;
}

@Options({
  components: {
    InputText,
    Button,
    ToggleButton,
    SelectButton,
    CheckedButton,
    ProgressSpinner,
  },
  directives: {
    tooltip: Tooltip,
  },
  emits: ["update-all"],
})
export default class NetworkSetup extends Vue {
  toast = useToast();
  waitingNwData = false;
  waitingIp = false;
  critical: PierServices = {};
  domain = "";
  contact = "";
  defaultInterface: NetworkInterface = {
    name: "",
    ipAddress: "",
    routerIpAddress: "",
    dnsIpAddress: "",
  };
  interfaceOptions = [
    { icon: "pi pi-sitemap", text: "Ethernet", value: "eth0" },
    { icon: "pi pi-wifi", text: "Wifi", value: "wlan0" },
  ];
  get traefik(): PierService {
    return this.critical?.traefik;
  }
  async mounted(): Promise<void> {
    console.debug("network setup mounting");
    await this.getNetworkData();
    await this.getDefaultNetworkInterface();
  }
  async getNetworkData(): Promise<void> {
    this.waitingNwData = true;
    try {
      const critical = await getCriticalConfig();
      this.critical = critical.data as PierServices;
      console.debug("critical=", JSON.stringify(this.critical));
      const dnc = await getDomainAndContact();
      this.domain = dnc.data.domain;
      this.contact = dnc.data.contact;
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
      console.error("Error:", err.message);
      if (err.response) {
        console.debug("Error data:", err.response.data.msg);
        this.toast.add({
          severity: "error",
          summary: "Unable to retrieve network data",
          detail: err.response.data.msg,
          life: 5000,
        });
      }
    }
    this.waitingNwData = false;
  }
  async setNetworkData(): Promise<void> {
    this.waitingNwData = true;
    PingService.reloadVueWhenPossible(this, 60);
    try {
      await updateCriticalConfig(this.critical);
      await updateDomainAndContact({
        domain: this.domain,
        contact: this.contact,
      });
      this.$emit("update-all");
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
      this.toast.add({
        severity: "error",
        summary: `Restart all services failed`,
        detail: err.response.data.msg,
        life: 5000,
      });
    }
    this.waitingNwData = false;
    // PingService.forget(reloader); # updateAll is totally asynchronous, we'll never know when it ends.
  }
  async getDefaultNetworkInterface(): Promise<void> {
    this.waitingIp = true;
    try {
      this.defaultInterface = (await getDefaultNetworkInterface()).data;
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
      console.error("Error:", err.message);
      if (err.response) {
        console.debug("Error data:", err.response.data.msg);
        this.toast.add({
          severity: "error",
          summary: "Unable to retrieve network addresses",
          detail: err.response.data.msg,
          life: 5000,
        });
      }
    }
    this.waitingIp = false;
  }
  async changeNetworkInterface(): Promise<void> {
    this.waitingIp = true;
    try {
      this.defaultInterface.dnsIpAddress =
        this.defaultInterface.routerIpAddress;
      await changeNetworkInterface(this.defaultInterface);
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
      this.toast.add({
        severity: "error",
        summary: "Changed IP Addresses failed, see logs on server",
        detail: err.response.data.msg,
        life: 5000,
      });
    }
    this.waitingIp = false;
  }
}
</script>
<style scoped>
.p-selectbutton .p-button {
  margin: 0 !important;
}
.p-progress-spinner {
  height: 40px; 
  width: 40px;
  margin: 0;
}
</style>
