<template>
  <canvas ref="qrcodeVue"> </canvas>
</template>

<script lang="ts">
import QRCode from "qrcode";
import { Vue, Options } from "vue-class-component";
import { ref } from "vue";

@Options({
  props: {
    value: String,
    size: {
      type: [Number, String],
      validator: (s: [number | string]) => isNaN(Number(s)) !== true,
      default: 100,
    },
    level: {
      type: String,
      validator: (l: string) => ["L", "Q", "M", "H"].indexOf(l) > -1,
      default: "L",
    },
    background: {
      type: String,
      default: "#ffffff",
    },
    foreground: {
      type: String,
      default: "#0000ff",
    },
  },
})
export default class QRCodeVue extends Vue {
  value!: string;
  size!: number | string;
  level!: "L" | "Q" | "M" | "H";
  background!: string;
  foreground!: string;
  qrcodeVue = ref<HTMLCanvasElement | null>(null);

  mounted(): void {
    const _size = Number(this.size);
    const scale = window.devicePixelRatio || 1;

    QRCode.toCanvas(this.qrcodeVue, this.value, {
      scale: scale,
      width: _size,
      color: { dark: this.foreground, light: this.background },
      errorCorrectionLevel: this.level,
    });
  }
}
</script>
<style lang="scss" scoped></style>
