<!-- usage: <service-config :name="name" :service="service" :canChangeActivation="true" /> -->
<template>
  <div class="field grid">
    <div class="col-4">{{ name }}</div>
    <div class="col-1">
      <InputSwitch
        v-model="service.activated"
        :disabled="!canChangeActivation"
      />
    </div>
    <div class="col-1">
      <div v-if="fields.length > 0">
        <Button
          icon="pi pi-sliders-v"
          @click="displayFieldsDialog = true"
          class="p-button-raised p-button-rounded"
        />
      </div>
      <Dialog
        :header="name + ' parameters:'"
        v-model:visible="displayFieldsDialog"
        :modal="true"
      >
        <div v-for="(field, index) in fields" :key="index" class="fluid">
          <div class="field grid">
            <label class="col-3" :for="field.name + '-' + name"
              >{{ field.name }}
            </label>
            <div
              v-if="typeof field.value == 'boolean'"
              :id="field.name + '-' + name"
              class="col-1"
            >
              <InputSwitch v-model="field.value" />
            </div>
            <div
              v-else-if="typeof field.value == 'string'"
              :id="field.name + '-' + name"
              class="col-9"
            >
              <InputText type="text" v-model="field.value" />
            </div>
            <div
              v-else-if="typeof field.value == 'number'"
              :id="field.name + '-' + name"
              class="col-4"
            >
              <InputNumber v-model="field.value" />
            </div>
            <div v-else :id="field.name + '-' + name" class="col-9">
              {{ field.value }}
            </div>
          </div>
        </div>
      </Dialog>
    </div>
    <div class="col-1" :hidden="!service.activated">
      <Button
        icon="pi pi-directions"
        @click="openServicePage(name)"
        class="p-button-raised p-button-rounded"
      />
    </div>
  </div>
</template>
<script lang="ts">
/* eslint-disable @typescript-eslint/explicit-module-boundary-types */
import { Options, Vue } from "vue-class-component";
//import Checkbox from "primevue/checkbox";
import InputSwitch from "primevue/inputswitch";
import InputText from "primevue/inputtext";
import Button from "primevue/button";
import Dialog from "primevue/dialog";
import InputNumber from "primevue/inputnumber";
import { PierService } from "@/models/pier-service";
// eslint-disable-next-line @typescript-eslint/no-explicit-any
type Field = { name: string; value: any };

@Options({
  props: {
    name: String,
    service: Object as () => PierService,
    canChangeActivation: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    Button,
    InputSwitch,
    InputText,
    InputNumber,
    Dialog,
  },
})
export default class ServiceConfig extends Vue {
  private name!: string;
  private service!: PierService;
  private canChangeActivation!: boolean;

  private fields: Field[] = [];
  private displayFieldsDialog = false;
  mounted() {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    const srv: PierService = this.service;
    for (const attr in srv) {
      if (attr == "activated") continue;
      const val: unknown = srv[attr];
      this.fields.push({ name: attr, value: val });
    }
  }
  openServicePage(name: string) {
    const loc = window.location;
    const href = loc.protocol + "//" + loc.hostname + "/" + name;
    window.open(href, "_blank");
  }
}
</script>
