<template>
  <div class="get-passwords">
    <Button
      @click="getAllPasswords"
      label="Show Services Passwords"
      icon="pi pi-lock"
      class="p-button-rounded"
    />
    <Dialog
      v-model:visible="show"
      header="Services passwords"
      :breakpoints="{ '640px': '100vw' }"
      :style="{ width: 'auto' }"
    >
      <div v-for="(field, index) in allPwds" :key="index">
        <div class="grid pass-line">
          <div class="col pass-name">{{ field.name }}:</div>
          <div class="col pass-value">
            <i>{{ field.value }}</i>
          </div>
        </div>
      </div>
    </Dialog>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Button from "primevue/button";
import Dialog from "primevue/dialog";
import { useStore } from "@/store";
import { useToast } from "primevue/usetoast";
import { getAllPasswords } from "@/services/AdminServices";

@Options({
  components: {
    Dialog,
    Button,
  },
})
export default class NavBar extends Vue {
  store = useStore();
  toast = useToast();
  show = false;
  allPwds: { name: string; value: string }[] = [];
  async getAllPasswords(): Promise<void> {
    this.allPwds = [];
    try {
      const res = await getAllPasswords();
      for (const attr in res.data) {
        this.allPwds.push({
          name: attr.replaceAll("_", " "),
          value: res.data[attr],
        });
      }
    } catch (err: any) {
      const errmsg = err.response ? err.response.data.msg : err.message;
      console.error("Error:", errmsg);
      this.toast.add({
        severity: "error",
        summary: "get passwords failed",
        detail: errmsg,
        life: 5000,
      });
    }
    this.show = true;
  }
}
</script>
<style scoped>
.pass-line {
  padding-top: 10px;
  padding-bottom: 1px;
}
.pass-name {
  text-align: right;
}
.pass-value {
  text-align: left;
  color: var(--primary-color);
}
@media screen and (max-width: 720px) {
  .pass-name {
    text-align: left;
  }
  .pass-line {
    display: block;
  }
  .pass-value {
    padding-left: 20px;
  }
}
</style>
