<template>
  <Dialog
    v-model:visible="show"
    :modal="true"
    class="stream-dialog"
    @close="close"
    :breakpoints="{ '960px': '90vw', '640px': '100vw' }"
  >
    <template #header>
      <ProgressBar mode="indeterminate" style="height: 0.5em" v-if="waiting" />
      <h3>{{ headerAndStatus }}</h3>
    </template>
    <VirtualScroller :items="content" :itemSize="50" class="streamscroller" ref="streamscroller">
      <template v-slot:item="{ item }">
        <pre>{{ item }}</pre>
      </template>
    </VirtualScroller>
    <template #footer>
      <Button
        label="Clear"
        icon="pi pi-trash"
        @click="clearContent"
        class="p-button-text"
      />
      <Button
        label="Close"
        icon="pi pi-times"
        @click="close"
        class="p-button-text"
        autofocus
      />
    </template>
  </Dialog>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { ref, ComponentPublicInstance } from "vue";
import Button from "primevue/button";
import Dialog from "primevue/dialog";
import VirtualScroller from "primevue/virtualscroller";
import ProgressBar from "primevue/progressbar";
import { HttpStreamer } from "@/utils/http-commons";
import { IncomingMessage } from "http";

export type StreamViewerCallback = (ht: HttpStreamer) => void;
export interface StreamViewerData {
  header?: string;
  show: boolean;
  callback?: StreamViewerCallback;
}

@Options({
  components: {
    Button,
    Dialog,
    VirtualScroller,
    ProgressBar,
  },
  props: {
    streaming: Function,
    header: {
      type: String,
      default: "",
    },
  },
  emits: ["close"],
})
export default class StreamResultViewer extends Vue implements HttpStreamer {
  streaming!: StreamViewerCallback;
  header!: string;

  // streamscroller = ref<ComponentPublicInstance<VirtualScroller>>();  not working, using $refs instead
  response?: IncomingMessage;
  status = "Unknown";
  content: string [] = [ "No output" ];
  show = true;
  waiting = false;
  get headerAndStatus(): string {
    return `${this.header} (Status: ${this.status})`;
  }
  mounted(): void {
    console.log("opening stream viewer");
    this.waiting = true;
    this.status = "Running";
    this.streaming.call(this.$parent, this);
  }
  clearContent(): void {
    this.content = [ "Content cleared" ];
  }
  close(): void {
    this.show = false;
    this.$emit("close", true);
  }
  onData(chunk: Buffer): void {
    const sres = chunk.toString("utf8").trim();
    let msg: string;
    try {
      const res = JSON.parse(sres);
      console.log("received", res);
      msg = res.msg;
    } catch (e) {
      msg = sres;
    }
    if (msg.length > 0) {
      const lines = msg.split('\n');
      const is_empty = (this.content.length == 1 && this.content[0] == "No output");
      const content = is_empty ? lines : [...this.content, ...lines];
      //console.debug("content: ", content);
      this.content = content;
      //this.streamscroller.value?.scrollInView(this.content.length, 'to-end', 'smooth');
      const scroller = this.$refs.streamscroller as VirtualScroller;
      scroller.scrollTo({ top: 100000000 }); // force scroll to end
    }
  }
  onEnd(resolve: () => void, reject: (r: unknown) => void): void {
    this.waiting = false;
    if (this.response) {
      if (this.response.statusCode == 200) {
        console.log("end of response, status: ok");
        this.status = "Success";
        resolve();
      } else {
        console.log("end of response, status: failed");
        this.status = "Failed";
        reject("cmd failed");
      }
    } else {
      console.log("end of response, status: unknown");
      this.status = "Unknown";
      reject("cmd ended with unknon status");
    }
  }
}
</script>
<style>
.streamscroller .p-virtualscroller-content {
  border-right: 9px solid #f4f4f4;
}
.streamscroller .p-virtualscroller-bar {
  background-color: #2196f3 !important;
  transition: background-color 0.3s;
  opacity: 1 !important;
}
.streamscroller .p-virtualscroller-bar:hover {
  background-color: #135ba1 !important;
}
.streamscroller {
  width: 100%;
  height: 200px;
  text-align: left;
}
.stream-dialog {
  width: 75vw;
}
</style>
