<template>
  <h2>Wifi Setup</h2>
  <div class="fluid grid justify-content-center align-items-center">
    <div class="field lg:col-2 md:col-4 col-7">
      <label for="ssid">Wifi network (SSID)</label>
      <dropdown
        id="ssid"
        placeholder="Select an SSID..."
        :loading="waitingWifiInfo"
        optionLabel="ssid"
        optionValue="ssid"
        v-model="selectedWifi.ssid"
        :options="wifiInfo"
      />
    </div>
    <div class="field lg:col-2 md:col-4 col-7">
      <label for="keymgt">Key Management</label>
      <dropdown
        id="keymgt"
        placeholder="Select key type..."
        :loading="selectedWifi.ssid === ''"
        v-model="selectedWifi.keyMgmt"
        :options="
          wifiInfo.find((n) => n.ssid == this.selectedWifi.ssid)?.keyMgmt
        "
      />
    </div>
    <div class="field lg:col-2 md:col-4 col-7">
      <label for="wifi-password">Wifi Password</label>
      <Password
        id="wifi-password"
        v-model="selectedWifi.psk"
        placeholder="Wifi Password"
        :feedback="false"
        toggleMask
      />
    </div>
    <checked-button
      label="Connect your Pier to this Wifi Network"
      confirm-label="Connect"
      icon="pi pi-wifi"
      dialog-header="Confirmation"
      question="Are you sure you want to connect to this wifi network?"
      advice="Changing the network might end in not being 
able to reach the server anymore."
      :callback="addWifiNetwork"
      button-class="p-button-rounded"
    />
    <stream-result-viewer
      :header="streamViewerData.header"
      v-if="streamViewerData.show"
      :streaming="streamViewerData.callback"
      @close="streamViewerData.show = false"
    />
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import InputText from "primevue/inputtext";
import Dropdown from "primevue/dropdown";
import Password from "primevue/password";
import CheckedButton from "@/components/CheckedButton.vue";
import { useToast } from "primevue/usetoast";
import StreamResultViewer, {
  StreamViewerData,
} from "@/components/StreamResultsViewer.vue";
import { HttpStreamer } from "@/utils/http-commons";

import {
  //  ethernetConnected,
  scanWifi,
  addWifiNetwork,
} from "@/services/NetworkServices";

interface WifiNetworkInfo {
  ssid: string;
  psk?: string;
  keyMgmt: string | string[]; // eg "WPA-PSK" or ["WPA-PSK", "WPA2-PSK"]
}

@Options({
  components: {
    InputText,
    CheckedButton,
    Dropdown,
    StreamResultViewer,
    Password,
  },
  emits: ["update-all"],
})
export default class WifiSetup extends Vue {
  toast = useToast();
  waitingWifiInfo = false;
  streamViewerData: StreamViewerData = { show: false };
  ethConnected = false;
  wifiInfo: WifiNetworkInfo[] = [];
  selectedWifi: WifiNetworkInfo = {
    ssid: "",
    keyMgmt: "",
    psk: "",
  };
  async mounted(): Promise<void> {
    console.debug("wifi setup mounting");
    await this.getWifiInfo();
  }
  showAddWifiNetwork(): void {
    this.streamViewerData.header = `Setting up wifi network`;
    this.streamViewerData.callback = this.addWifiNetwork;
    this.streamViewerData.show = true;
  }
  async getWifiInfo(): Promise<void> {
    this.waitingWifiInfo = true;
    try {
      //  this.ethConnected = (await ethernetConnected()).data.ethernetConnected;
      // TODO:? if (!this.ethConnected) {
      const scan = await scanWifi();
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
      scan.data.forEach((sc: any) =>
        this.wifiInfo.push({
          ssid: sc.ssid as string,
          keyMgmt: sc.keyMgmt as string[],
        })
      );
      console.debug("wifi info: ", this.wifiInfo);
      if (this.wifiInfo.length>0) {
        this.selectedWifi.ssid = this.wifiInfo[0].ssid;
        this.selectedWifi.keyMgmt = typeof this.wifiInfo[0].keyMgmt === 'string' ?
          this.wifiInfo[0].keyMgmt :
          this.wifiInfo[0].keyMgmt[0];
      }
      //  }
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
      console.error("Error:", err.message);
      if (err.response) {
        console.debug("Error data:", err.response.data.msg);
        this.toast.add({
          severity: "error",
          summary: "Unable to retrieve wifi data",
          detail: err.response.data.msg,
          life: 5000,
        });
      }
    } finally {
      this.waitingWifiInfo = false;
    }
  }
  async addWifiNetwork(st: HttpStreamer): Promise<void> {
    try {
      await addWifiNetwork(this.selectedWifi, st);
      this.$emit("update-all");
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
    } catch (err: any) {
      this.toast.add({
        severity: "error",
        summary: "connection to wifi network failed, see logs on server",
        detail: err.response.data.msg,
        life: 5000,
      });
    }
  }
}
</script>
