<template>
  <TheNavBar />
  <keep-alive>
    <Login />
  </keep-alive>
  <Toast position="top-right" />
  <Message v-if="networkError" severity="error" :life="5000">
    Network Error: Are you sure the API is running?
  </Message>
  <router-view />
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Toast from "primevue/toast";
import Message from "primevue/message";

import { useStore } from "./store";
import TheNavBar from "@/components/NavBar.vue";
import Login from "@/components/Login.vue";

@Options({
  components: {
    Login,
    TheNavBar,
    Toast,
    Message,
  },
})
export default class App extends Vue {
  store = useStore();
  get networkError(): boolean {
    return this.store.state.auth.networkError;
  }
}
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
